In [1]:
import numpy
import os

In [18]:
import pandas as pd

In [19]:
data_path='/home/xjz/Desktop/Coding/DL_Data/house_bargin/train_data'
train_query=pd.read_csv(os.path.join(data_path,'train.query.tsv'), sep='\t',header=None,index_col=None,names=['query_id','query_str'])

In [20]:
train_query

      query_id           query_str
0            0            采荷一小是分校吧
1            1                毛坯吗？
2            2  你们的佣金费大约是多少和契税是多少。
3            3             靠近川沙路嘛？
4            4      这套房源价格还有优惠空间吗？
...        ...                 ...
5995      5995              好一起看一下
5996      5996              对口什么小学
5997      5997             可以贷公积金吗
5998      5998      您好，我正在看尚林家园的房子
5999      5999         今天可以安排看房子吗？

[6000 rows x 2 columns]

In [21]:
train_reply=pd.read_csv(os.path.join(data_path,'train.reply.tsv'), sep='\t',header=None,index_col=None,names=['query_id','reply_id','reply_str','reply_cls'])

In [22]:
train_reply

       query_id  reply_id                    reply_str  reply_cls
0             0         0  杭州市采荷第一小学钱江苑校区，杭州市钱江新城实验学校。          1
1             0         1                           是的          0
2             0         2                         这是5楼          0
3             1         0                   因为公积金贷款贷的少          0
4             1         1                           是呢          0
...         ...       ...                          ...        ...
21580      5998         1                           有啊          0
21581      5998         2                        我带你看看          0
21582      5999         0                   我约下房东，稍后回你          1
21583      5999         1               可以看，你几点有时间过来呢？          1
21584      5999         2              好的，那咱们在一号门口这碰头？          0

[21585 rows x 4 columns]

In [23]:
reply_cls=train_reply['reply_cls']

In [33]:
reply_cls.values

array([1, 0, 0, ..., 1, 1, 0])

In [25]:
'''
０和１的数量对比
'''

'\n０和１的数量对比\n'

In [26]:
zeros=[val  for val in reply_cls  if val==0 ]
len(zeros)

16198

In [27]:
ones=[val  for val in reply_cls  if val==1 ]
len(ones)

5387

In [28]:
'''StratifiedKFold 分层实验'''

'StratifiedKFold 分层实验'

In [29]:
from sklearn.model_selection import StratifiedKFold

In [56]:
skf=StratifiedKFold(n_splits=10, random_state=2020, shuffle=True)

In [57]:
for train, test in skf.split(train_reply['query_id'].values,train_reply['reply_cls'].values):
    print('Train: %s | test: %s' % (train, test),'\n')

Train: [    0     1     2 ... 21580 21582 21583] | test: [   22    24    48 ... 21577 21581 21584]

Train: [    0     1     2 ... 21581 21582 21584] | test: [    6    12    14 ... 21564 21568 21583]

Train: [    0     1     2 ... 21582 21583 21584] | test: [    7    13    17 ... 21556 21561 21573]

Train: [    1     2     4 ... 21582 21583 21584] | test: [    0     3    18 ... 21578 21579 21580]

Train: [    0     1     2 ... 21582 21583 21584] | test: [    8    10    15 ... 21552 21563 21571]

Train: [    0     1     2 ... 21582 21583 21584] | test: [   11    21    51 ... 21543 21558 21570]

Train: [    0     3     4 ... 21582 21583 21584] | test: [    1     2     9 ... 21529 21535 21565]

Train: [    0     1     2 ... 21582 21583 21584] | test: [    4    66   100 ... 21562 21574 21575]

Train: [    0     1     2 ... 21581 21583 21584] | test: [    5    28    35 ... 21569 21576 21582]

Train: [    0     1     2 ... 21582 21583 21584] | test: [   16    27    30 ... 21531 21555 21560]